<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>keystone</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
		<link href="/bower_components/dw-bxslider-4/dist/jquery.bxslider.css"></link>
		<link href="/bower_components/animate.css/animate.min.css" rel="stylesheet"></link>

		<link href="/styles/main.css" rel="stylesheet">
		
		{{!-- This file provides the default styling for the KeystoneJS Content Editor 
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}
		
		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" />
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />
		<![endif]-->
		
	</head>
	<body>
		<!-- header start !-->
		<nav id="header">
			<a href="/"><div class="nav-logo"></div></a>
			<ul class="nav-buttons">
				<li class="nav-button"><a href="/about">About</a></li>
				<li class="nav-button"><a href="/service">Service</a></li>
				<li class="nav-button"><a href="/summer">Summer Courses</a></li>
				<li class="nav-button"><a href="/keystory">Keystory</a></li>
				<li class="nav-button"><a href="/career">Career</a></li>
				<li class="nav-button"><a href="/contact">Contact</a></li>
			</ul>


			<a class="mob-nav-toggle-button" data-controller="Nav" data-action="initMobileNav"><span></span></a>
			<div class="mob-nav-buttons-container">
				<ul class="mob-nav-buttons">
					<a href="/about"><li class="mob-nav-button">About</li></a>
					<a href="/service"><li class="mob-nav-button">Service</li></a>
					<a href="/summer"><li class="mob-nav-button">Summer Courses</li></a>
					<a href="/keystory"><li class="mob-nav-button">Keystory</li></a>
					<a href="/career"><li class="mob-nav-button">Career</li></a>
					<a href="/contact"><li class="mob-nav-button">Contact</li></a>
				</ul>
			</div>

		</nav>
		<!-- header end !-->

		<!--
			Flash messages allow you to display once-off status messages to users, e.g. form
			validation errors, success messages, etc
		-->
		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
					{{{flashMessages messages.info}}}
			</div>
			{{/if}}
			{{#if messages.success}}
			<div class="alert alert-success">
					{{{flashMessages messages.success}}}
			</div>
			{{/if}}
			{{#if messages.warning}}
			<div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
			</div>
			{{/if}}
			{{#if messages.error}}
			<div class="alert alert-danger">
					{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}


		<div class="alert-message">
      <div class="alert alert-success" role="alert">
      	<h1>Thank You!</h1>
      	<div class="underline"></div>
        <span>Thanks for your message! We'll reply you shortly.</span>
      </div>
      <div class="alert alert-info" role="alert">
        You have already subscribed!
      </div>
      <div class="alert alert-danger" role="alert">
      	<h1>Sorry!</h1>
      	<div class="underline"></div>
        <span>
        	Oops! There seems to be an error! Please try again.
        </span>
      </div>
    </div>
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}
		



		<div id="footer">
			<a href="/">
				<div class="footer-logo"></div>
			</a>
			<div class="footer-line-separator"></div>
			<div class="footer-content">
				<div class="sns">
<!-- 					<a href="#" class="twitter">
						<div class="icon"></div>
					</a>
					<a href="#" class="linkedin">
						<div class="icon"></div>
					</a> -->
<!-- 					<a href="#" class="facebook">
						<div class="icon"></div>
					</a>
 -->				</div>
				<span class="copyright">© 2015 Keystone. All Rights Reserved</span>
				<!-- <a href="/contact" class="contact">Contact</a> -->
				<!-- <a href="#" class="privacy">Privacy</a> -->
			</div>
		</div>






		{{!--
			//- jQuery 1.11.1 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.1 (also bundled) for better performance.
		--}}
		<script src="/js/lib/jquery/jquery-1.11.1.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.2.0.min.js
		--}}
		<script src="/js/lib/bootstrap/bootstrap-3.2.0.min.js"></script>
		{{{isAdminEditorJS user}}}
		
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower_components/dw-bxslider-4/dist/jquery.bxslider.min.js"></script>
		<script src="/bower_components/parallax/deploy/parallax.min.js"></script>
		<script src="/js/app/app.js"></script>

		<script src="/js/app/nav/index.js"></script>
		<script src="/js/app/nav/controller.js"></script>
		
		<script src="/js/app/home/index.js"></script>
		<script src="/js/app/home/controller.js"></script>
		<script src="/js/app/service/index.js"></script>
		<script src="/js/app/service/controller.js"></script>
		<script src="/js/app/contact/index.js"></script>
		<script src="/js/app/contact/controller.js"></script>
		<script src="/js/app/career/index.js"></script>
		<script src="/js/app/career/controller.js"></script>
		<script src="/js/app/about/index.js"></script>
		<script src="/js/app/about/controller.js"></script>
		<script src="/js/app/keystory/index.js"></script>
		<script src="/js/app/keystory/controller.js"></script>
		<script src="/js/app/grade5/index.js"></script>
		<script src="/js/app/grade5/controller.js"></script>
		<script src="/js/app/snapshot/index.js"></script>
		<script src="/js/app/snapshot/controller.js"></script>
		<script src="/js/app/bootcamp/index.js"></script>
		<script src="/js/app/bootcamp/controller.js"></script>
		<script src="/js/app/summer/index.js"></script>
		<script src="/js/app/summer/controller.js"></script>
		
		<script src="/js/app/main.js"></script>

	</body>
</html>
