<section class="keystory-main">
  <div class="keystory-main-text">
    <h1 class="title">Keystory</h1>
    <h3 class=""></h3>
  </div>
  <div class="scroll-down-container">
    <div class="scroll-down-button" data-controller="Keystory" data-action="initScrollDownButton">
      <div></div>
    </div>
  </div>
</section>

<section class="keystory-testimonials">
  <ul class="quote-list">
    <li class="quote">
      <div class="quotes">
        <!-- <span class="open-quote">"</span>
        <span class="close-quote">"</span> -->
      </div>
      <div class="content">
        In terms of test preparation, and raising SAT scores, there is no place better than Keystone: the specific techniques of solving different types of questions are ruthlessly efficient, and applicable not only to SATs, but also other forms of problem solving beyond the world of college application. As for the consulting of application of materials, Keystone always strived to play to my specific strengths and interests, helping me define who I wanted to be, and ultimately where and what I wanted to study. I was highly irresponsible and unorganised in high school, and without the help of Keystone, I probably wouldn't have ended up studying architecture at Cornell University. As I enter my thesis (final) semester, I can't thank Keystone enough for helping me get to Cornell, which is the best thing that has happened to me in my life so far. For me, Keystone is much more than a cram school, and I am certain most Keyston-ians would agree.
      </div>
      <div class="credit">
        - S. K. Cornell University
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <!-- <span class="open-quote">"</span>
        <span class="close-quote">"</span> -->
      </div>
      <div class="content">
        Keystone has left a profound impact on me beyond high school and college. Keystone was the first step into my next 10 years, masterfully capturing the character I never realized I possessed and crafting a course of action to execute the plan to develop those traits.  Its resources, network and knowledge culminates into a holistic consulting practice that no others were able to offer. There is a reason why I return to Keystone for help even today. I know the experts at Keystone could provide guidance for whatever insurmountable odds that that come across my path.
      </div>
      <div class="credit">
        - D. L. Georgetown SFS
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <!-- <span class="open-quote">"</span>
        <span class="close-quote">"</span> -->
      </div>
      <div class="content">
        I found that the hardest part of getting into college was learning to set my priorities and manage my time. Being able to balance school work with extracurricular commitments was something that I struggled with for a while. However, Keystone was able to help me with this by creating a time table with all of the major deadlines and important testing dates that I had to watch out for. Another thing that was really difficult for me was getting my SAT scores up. Although I was doing very well in school, I was not very good at standardized testing. Keystone helped me tremendously in this area by giving me a thorough and effective training regimen with which I was able to get the score I needed to get into my dream school. Another thing that I tried doing in my application that I had a hard time doing was making sure that my application told a story and conveyed a passion for something. It was hard because I had so many life experiences, but what I found impressive was how Keystone was able to help create a coherent and persuasive story out of all of those experiences and convey something unique about my character.
      </div>
      <div class="credit">
        - A. W. Cornell University
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        Defining who I am when writing college apps was the most difficult thing, especially with the fact that you need to have a creative/ good writing skill to draw attention from college admission offices. However, with interactive efforts with the consultants at Keystone summer, my final outcome turned out to be exceptionally fulfilling. l'm confident that my application turned out well because Keystone put lots of effort to get to know each student. Both the test prep and consulting were very helpful to achieving my academic goal. Besides providing guidance for the college prep, Keystone also provided insights about life beyond college application, which helped me to cultivate a habit of being disciplined during my undergrad career.
      </div>
      <div class="credit">
        - A. C. Duke University
      </div>
    </li>

    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        I think what’s most special about Keystone is that it is in many ways a family. For me, Keystone has become something much more than just test prep, something much more meaningful than just an increase of a few hundred points on my SATs. Sure, you will get a lot of work—endless stacks of pages to conquer and bubbles to fill—and if you are determined and do the work your score will increase. But what makes Keystone unique is that at Keystone, score is not the only thing that will grow. Indeed, throughout my time at Keystone, I have been accompanied by teachers and instructors whose role transcends that of teachers. Not only did I learn the tricks and techniques for writing that DBQ or the quick formula to solve that equation, but I also learned how to interact with people such as professors; how to brainstorm; how to choose words appropriately in emails; how to construct a formal and proper resume; how to appropriately request a letter of recommendation that would benefit you; how to take advantage of the valuable resources you are given; and how to effectively manage your time. Many of these skills are not only valuable for the college application, but also for the years beyond, whether it is in college or in a profession. What’s more, the people that helped me to develop these skills are always caring and genuinely concerned about your life (sometimes more than you yourself are). They are people who truly tries their hardest to guide you, to minimize the mistakes and regrets you may have, to maximize your potential. Keystone has helped me to grow in ways more than I can ever imagine, whether it is on those seemingly impossible APs that I scored a 5 or on those essays where I had no idea what to talk about. Ultimately, Keystone helped me to discover myself.
      </div>
      <div class="credit">
        - M.M. Yale
      </div>
    </li>
  </ul>
</section>


<section class="connect">
  <div class="contact-form">
    <span class="title-small">Learn More By Gaining Early Access</span>
    <div class="underline"></div>
    <span class="title">Connect</span>

    <!-- <div class="row"> -->
        <!-- {{#if enquirySubmitted}}
        <h3>Thanks for getting in touch.</h3>
        {{else}}
   -->

        <!-- <form method="post"> -->

        <!--<form method="post">
          <input type="hidden" name="action" value="contact">-->

          <!-- <div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
            <input autocomplete="off" type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}" placeholder="Your Name">
          </div> -->

          <!--<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
            <input type="email" name="email" class="form-control" value="{{formData.email}}" placeholder="Your Email">
          </div>-->

          <!-- <div class="form-group">
            <label>Phone</label>
            <input autocomplete="off" type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
          </div> -->
          <!-- <div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
            <label>What are you contacting us about?</label>
            <select name="enquiryType" class="form-control">
              <option value="">(select one)</option>
              {{#each enquiryTypes}}
              <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
          </div> -->
          <!-- <div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
            <textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
          </div> -->
          <!--<div class="form-actions">
            <button type="submit" class="send">Submit</button>
          </div>
        </form>-->
        <!-- {{/if}} -->

        <!-- Begin MailChimp Signup Form -->
        <form action="//keystoneprep.us11.list-manage.com/subscribe/post?u=1a7c31f864ac8b5bd62b0cce5&amp;id=c030b32ed2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="form-group">
              <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Your Email">
            </div>
            <div id="mce-responses">
              <div class="response" id="mce-error-response" style="display:none">

              </div>
              <div class="response" id="mce-success-response" style="display:none">

              </div>
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_1a7c31f864ac8b5bd62b0cce5_c030b32ed2" tabindex="-1" value=""></div>
            <div class="form-actions">
              <button type="submit" class="send" name="subscribe" id="mc-embedded-subscribe">Submit</button>
            </div>
          </div>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!-- Mailchimp end -->

    <!-- </div> -->
  </div>
</section>
