<section class="keystory-main">
  <div class="keystory-main-text">
    <h1 class="title">Keystory</h1>
    <!-- <h2 class="sub">Tales of Success</span> -->

    <h3 class=""></h3>
  </div>
  <div class="scroll-down-container">
    <div class="scroll-down-button" data-controller="Keystory" data-action="initScrollDownButton">
      <div></div>
    </div>
  </div>
</section>

<section class="keystory-testimonials">
  <ul class="quote-list">
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        I think what’s most special about Keystone is that it is in many ways a family. For me, Keystone has become something much more than just test prep, something much more meaningful than just an increase of a few hundred points on my SATs. Sure, you will get a lot of work—endless stacks of pages to conquer and bubbles to fill—and if you are determined and do the work your score will increase. But what makes Keystone unique is that at Keystone, score is not the only thing that will grow. Indeed, throughout my time at Keystone, I have been accompanied by teachers and instructors whose role transcends that of teachers. Not only did I learn the tricks and techniques for writing that DBQ or the quick formula to solve that equation, but I also learned how to interact with people such as professors; how to brainstorm; how to choose words appropriately in emails; how to construct a formal and proper resume; how to appropriately request a letter of recommendation that would benefit you; how to take advantage of the valuable resources you are given; and how to effectively manage your time. Many of these skills are not only valuable for the college application, but also for the years beyond, whether it is in college or in a profession. What’s more, the people that helped me to develop these skills are always caring and genuinely concerned about your life (sometimes more than you yourself are). They are people who truly tries their hardest to guide you, to minimize the mistakes and regrets you may have, to maximize your potential. Keystone has helped me to grow in ways more than I can ever imagine, whether it is on those seemingly impossible APs that I scored a 5 or on those essays where I had no idea what to talk about. Ultimately, Keystone helped me to discover myself.
      </div>
      <div class="credit">
        - M.M. Yale
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <!-- <span class="open-quote">"</span>
        <span class="close-quote">"</span> -->
      </div>
      <div class="content">
        In terms of test preparation, and raising SAT scores, there is no place better than Keystone: the specific techniques of solving different types of questions are ruthlessly efficient, and applicable not only to SATs, but also other forms of problem solving beyond the world of college application. As for the consulting of application of materials, Keystone always strived to play to my specific strengths and interests, helping me define who I wanted to be, and ultimately where and what I wanted to study. I was highly irresponsible and unorganised in high school, and without the help of Keystone, I probably wouldn't have ended up studying architecture at Cornell University. As I enter my thesis (final) semester, I can't thank Keystone enough for helping me get to Cornell, which is the best thing that has happened to me in my life so far. For me, Keystone is much more than a cram school, and I am certain most Keyston-ians would agree.
      </div>
      <div class="credit">
        - S. K. Cornell University
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <!-- <span class="open-quote">"</span>
        <span class="close-quote">"</span> -->
      </div>
      <div class="content">
        Keystone has left a profound impact on me beyond high school and college. Keystone was the first step into my next 10 years, masterfully capturing the character I never realized I possessed and crafting a course of action to execute the plan to develop those traits.  Its resources, network and knowledge culminates into a holistic consulting practice that no others were able to offer. There is a reason why I return to Keystone for help even today. I know the experts at Keystone could provide guidance for whatever insurmountable odds that that come across my path.
      </div>
      <div class="credit">
        - D. L. Georgetown SFS
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <!-- <span class="open-quote">"</span>
        <span class="close-quote">"</span> -->
      </div>
      <div class="content">
        I found that the hardest part of getting into college was learning to set my priorities and manage my time. Being able to balance school work with extracurricular commitments was something that I struggled with for a while. However, Keystone was able to help me with this by creating a time table with all of the major deadlines and important testing dates that I had to watch out for. Another thing that was really difficult for me was getting my SAT scores up. Although I was doing very well in school, I was not very good at standardized testing. Keystone helped me tremendously in this area by giving me a thorough and effective training regimen with which I was able to get the score I needed to get into my dream school. Another thing that I tried doing in my application that I had a hard time doing was making sure that my application told a story and conveyed a passion for something. It was hard because I had so many life experiences, but what I found impressive was how Keystone was able to help create a coherent and persuasive story out of all of those experiences and convey something unique about my character.
      </div>
      <div class="credit">
        - A. W. Cornell University
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        Defining who I am when writing college apps was the most difficult thing, especially with the fact that you need to have a creative/ good writing skill to draw attention from college admission offices. However, with interactive efforts with the consultants at Keystone summer, my final outcome turned out to be exceptionally fulfilling. l'm confident that my application turned out well because Keystone put lots of effort to get to know each student. Both the test prep and consulting were very helpful to achieving my academic goal. Besides providing guidance for the college prep, Keystone also provided insights about life beyond college application, which helped me to cultivate a habit of being disciplined during my undergrad career.
      </div>
      <div class="credit">
        - A. C. Duke University
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        When I first received a request for a testimonial, I was glad to have an opportunity to look back at my college life. In retrospect, part of my success in college could be attributed to a team of consultants at Keystone who provided a roadmap with which I was able to navigate the finals years of my high school and during college. I guess the most difficult thing about getting into college was that I had no idea what I wanted to do with my life. I mean, who knows what he/she wants to do as a high school student? “One step at a time”, could be the motto at Keystone because its guidance was in every sense of the word systematic. With Keystone’s test prep, my SAT score rose from 1680 during my first prep test to 2320 in my last one. Once I got the score I needed, Keystone consulting team did their utmost to help me get into my first choice school with insightful guidance. The greatest difficulty I’ve encountered during my application was finding the most representative snapshot of who I was. Never in my wildest dream would I have thought that my awkward hairstyle could become a fodder for the essay that define me!
      </div>
      <div class="credit">
        - E. K. Emory University
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        There are probably as many SAT prep institutes as there are Starbucks nowadays. But Keystone stands above the rest with unique training method in test prep. I am a living proof of this system. My first SAT scores were Critical Reading was 550 and Writing was an embarrassing 480. My final scores? 730 for Critical Reading and 750 for the Writing on the real test. Just in those two sections, my overall score rose by 450 points! Such increase is probably not for everyone as I started at the bottom, but it all began with confidence building. The tutors at SAT were able to gauge my potential (I was actually a decent student at an academically rigorous high school) and boost my confidence by pointing out my specific weaknesses and reinforcing them with effective test taking strategies.
      </div>
      <div class="credit">
        - J. K. Emory University
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        It goes without saying, as a former student in the CAP program as well as Keystone's test prep program, that I was able to completely prepare myself as a college applicant. Through Keystone's careful and well-structured program, I was able to get the test scores and build a "resume" that I felt proud of. However, with all these aside, Keystone was so much more than a test prep center or an academic consultant to me. They were - and still are - a community teachers whom I looked up to as mentors. In fact, the most difficult part of college admissions for me was building a genuine story that was truly mine, and such an environment really helped me find this voice. I was constantly reminded to stay honest with myself and take true ownership over my own future, which are lessons that I still carry with me to this day.
      </div>
      <div class="credit">
        - H. L. Columbia University
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        The assistance I received from the staff at Keystone was a very important factor in my fortunate admission into Harvey Mudd College. The SAT prep program made an enormous difference in my performance, by providing a concrete methodology for every section. The advice I gained with the university application process itself also gave me a solid head start. Especially helpful was the precise diagnosis that my essays underwent, which helped me shape them into impressive “advertisement” for who I was in a nutshell. While balancing university applications with academics was a major challenge, the process eventually went by smoothly and successfully, with the conscientious assistance from Keystone folks behind my back.
      </div>
      <div class="credit">
        - J. P. Harvey Mudd
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        For me, Keystone was just more than a test prep/consulting institute. You’re not just paying hefty sums to get that extra few points on the SATs, and tailor your college applications. I think what makes Keystone stand out from many other places is that you get a group of teachers who are genuinely interested in you as a person. They’re there to become your personal mentors, help you grow as a better student, and more importantly encourage you to discover your aspirations for and after college. I think the many moments I spent talking outside the classroom with my teachers at Keystone – college stories, conversations about life philosophy, and anything else that will help you decompress – are those that I remember most to this day. The relationships you build at Keystone do last, and will make up a significant part of who you are. Mine are ongoing 6+ years since I left Keystone as a student.
      </div>
      <div class="credit">
        - D. W. Columbia University
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        I got to know about Keystone from Writing class. My reading and math scores were always where I wanted them to be, but writing score fluctuated a lot. Sometimes I would score above 780 and sometimes I get below 650. But after the Keystone SAT prep, I was able to pinpoint exactly what I was doing wrong, helping me score more consistently (at or above 780) on my mock exams. When I finally took the the test, I was able to get a perfect 800. But I knew that SAT and good academic scores were not the only thing you need to get into a good college. Having attended a high school that rarely sends kids to top-tier colleges, I was worried that I wouldn’t be compensated for my efforts. I really needed to sell myself to these colleges and Keystone CAP program helped me to just that. The rigorous process of the program  helped me  dig up various anecdotes about my life that I had completely forgotten about. My biggest concern was that I was another mundane and boring Asian kid who doesn’t have “stories” to spice up the application. Pulling out stories, making connections to who I am now today, and writing essays on those not only produced humorous and clever writings but also helped me reflect on my life and discover my strengths and weaknesses as a person. Having casual conversations with Jae helped look at life beyond college—what kind of a person I want to become. Those conversations were humbling yet reassuring. In retrospect, I not only got into one of my dream colleges but also grew tremendously as a person. I would say the Keystone instructors are more than just teachers. They are from time to time your friends, but more importantly, once you get to know them at an individual level, they become the best mentors you can ever have.
      </div>
      <div class="credit">
        - T. A. University of Chicago
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        SAT test and applications. They consume your junior and senior years in high school. When I was studying SAT on my own, I often became frustrated by the lack of progress, but at Keystone, I was able to improve my scores efficiently. The remarkable methodologies aside, the instructors were always willing to spend extra time with me to point out my individual weaknesses and offered tailored advice that really helped me reinforced those weaknesses. Keystone instructors always kept the principle of education in mind, so they frequently reminded me of inculcating good study habits not only for standardized tests but also for my lifelong academic journey. In hindsight, my college life have greatly benefited from their thoughtful mentorship. The genuine care they showed was also the main reason why I decided to enroll into Keystone’s college application program and I was not disappointed. I was able to get into my first choice college amidst some tough competition!
      </div>
      <div class="credit">
        - J. L. Columbia University 
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        Procrastination, it is the bane of all students. At the very beginning of the long college-application process, I have, in my naivety, thought that “there will be enough time later”. My procrastination, however, did not simply come from the desire to take a break. It also came from the fear of uncertainty; which major should I choose? Will I get accepted to any school? Can I trust Keystone? These baseless questions clouded my mind with doubts. Since my family could not really understand my inner conflicts (“Just do it,” they would say) I just let them all out to the Keystone counselors. They understood any problem I had and gave more on-point suggestions than anyone in my family could. They have helped so many different types of students go through various circumstances that they always had an answer when I laid out a problem. More importantly, they paid attention to me. It wasn’t as if they simply wanted me to write something impressive. They guided me to find my inner voice and helped me produce essays that resonated with who I was and who I wanted to be. It really was a journey of self-discovery for me, and I have the people at Keystone to thank for it!
      </div>
      <div class="credit">
        - H. A. Johns Hopkins
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        Junior and senior years are usually very tough because you need to take care of SAT I, SAT II, college essays, and even maintain a good GPA. Also, there are personal life problems (Yeah, they seemed important at the time). During this period, it's common for students to go through mental breakdown. And I did too. But the consultants at Keystone helped me go through the daunting college application process with ease. In weekly scheduled one-on-one meetings, I was able to let them know who I really was, which is very important when writing college essays. They always encouraged me to work hard but always with sound advice. It wasn’t just “Go and work hard.” Whenever problems came up in school, Keystone was the go-to place. Their answers were accurate and timely. Well, I can go on and on about how Keystone is amazing, but there is only one thing you need to remember. "Study hard, don't do stupid stuff, then Keystone will take care of everything."
      </div>
      <div class="credit">
        - R. W. Cornell University
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        The most difficult component of the college application process was certainly finding schools that matched my academic needs, preferences, as well as parents' expectations. American colleges are known for their unrivaled marketing techniques result in the colleges resembling each other, and it was difficult, if not impossible, to find the right fit and, simultaneously, position myself based on the features of the schools to which I was applying. Keystone helped me achieve my academic goals in preparation for college in all ways, but specifically in the two areas of SATs and college essays. Even though my SAT I results (2170) were not stellar compared to those of other students, I often felt that it was important to remind myself that I only started off with 1680. It was an extremely stressful period during which seeking balance in life was the key. It was one filled with anxiety and tears on one hand, with perseverance and patience on the other. I learned how to cope with the process and deeply thank Keystone for having alleviated a significant chunk of the inevitable stress.
      </div>
      <div class="credit">
        - O. C. University of Pennsylvania
      </div>
    </li>
    <li class="quote">
      <div class="quotes">
        <span class="open-quote"></span>
        <span class="close-quote"></span>
      </div>
      <div class="content">
        Of all the aspects of the college application process, I’d have to say that the main essay writing and the university supplements were the most difficult. I didn’t have many interesting personal qualities other than good grades, so I could not think of many topics to write about for my main essay. I knew I wanted to eventually become a doctor, but I didn’t know how to go about presenting that idea either. It didn’t help that I wasn’t a very good writer. But at Keystone, my counselor reminded me that college application wasn’t necessarily about writing eloquently. We talked for hours to find the interesting person in me that I didn’t even know about, and helped me organize my reasons for wanting to seek a degree in biological sciences. Thank you Keystone for all your help! Your guidance was a lifesaver!
      </div>
      <div class="credit">
        - I. K. Johns Hopkins University
      </div>
    </li>
  </ul>
</section>


<section class="connect">
  <div class="contact-form">
    <span class="title-small">Learn More By Gaining Early Access</span>
    <div class="underline"></div>
    <span class="title">Connect</span>

    <!-- <div class="row"> -->
        <!-- {{#if enquirySubmitted}}
        <h3>Thanks for getting in touch.</h3>
        {{else}}
   -->

        <!-- <form method="post"> -->

        <!--<form method="post">
          <input type="hidden" name="action" value="contact">-->

          <!-- <div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
            <input autocomplete="off" type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}" placeholder="Your Name">
          </div> -->

          <!--<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
            <input type="email" name="email" class="form-control" value="{{formData.email}}" placeholder="Your Email">
          </div>-->

          <!-- <div class="form-group">
            <label>Phone</label>
            <input autocomplete="off" type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
          </div> -->
          <!-- <div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
            <label>What are you contacting us about?</label>
            <select name="enquiryType" class="form-control">
              <option value="">(select one)</option>
              {{#each enquiryTypes}}
              <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
          </div> -->
          <!-- <div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
            <textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
          </div> -->
          <!--<div class="form-actions">
            <button type="submit" class="send">Submit</button>
          </div>
        </form>-->
        <!-- {{/if}} -->

        <!-- Begin MailChimp Signup Form -->
        <form action="//keystoneprep.us11.list-manage.com/subscribe/post?u=1a7c31f864ac8b5bd62b0cce5&amp;id=c030b32ed2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="form-group">
              <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Your Email">
            </div>
            <div id="mce-responses">
              <div class="response" id="mce-error-response" style="display:none">

              </div>
              <div class="response" id="mce-success-response" style="display:none">

              </div>
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_1a7c31f864ac8b5bd62b0cce5_c030b32ed2" tabindex="-1" value=""></div>
            <div class="form-actions">
              <button type="submit" class="send" name="subscribe" id="mc-embedded-subscribe">Submit</button>
            </div>
          </div>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!-- Mailchimp end -->

    <!-- </div> -->
  </div>
</section>




