<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>keystone</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<style>
		html{height:100%;margin:0}*{-webkit-font-smoothing:antialiased;font-family:HelveticaNeueLTStd}body{min-height:100%;height:1px;margin:0;padding-top:70px;width:100%}a,a:hover{color:#575656}.contact-form{background:#b72025;text-align:center;padding-top:70px;padding-bottom:80px}.contact-form .title-small{color:#fff;font-size:20px;font-weight:700}.contact-form .underline{width:40px;height:2px;background:#fff;margin:auto;margin-bottom:20px}.contact-form .title{font-size:40px;color:#fff;font-weight:700}.contact-form form{padding-top:50px}.contact-form .form-group{width:70%;max-width:500px;margin-left:auto;margin-right:auto;font-weight:700;padding-bottom:20px}.contact-form .form-group input,.contact-form .form-group textarea{color:#fff;border-radius:0;border:0;font-size:18px;background-color:#9a0107!important}.contact-form .form-group input{height:60px;line-height:60px}.contact-form .form-group ::-webkit-input-placeholder{color:#fff}.contact-form .form-group :-moz-placeholder,.contact-form .form-group ::-moz-placeholder{color:#fff}.contact-form .form-group :-ms-input-placeholder{color:#fff}.contact-form button.send{width:180px;height:50px;line-height:50px;font-weight:700;font-size:18px;color:#fff;border-radius:10px;background:transparent;border:2px solid #fff}#mce-responses .response{color:#fff;font-size:18px;width:70%;margin:auto;top:20%;text-align:center}.alert-message{text-align:center;width:100%;position:fixed;left:0;top:0;height:100%;z-index:2;background-color:rgba(0,0,0,.4);display:none}.alert-message .alert-danger,.alert-message .alert-info,.alert-message .alert-success{position:absolute;width:25%;max-width:450px;min-width:250px;top:40%;left:0;right:0;border:1px solid;border-radius:0;margin-left:auto;margin-right:auto;text-align:middle;display:none;background-color:#fff;border-radius:8px;border:0;padding:30px 0 50px}.alert-message .alert-danger h1,.alert-message .alert-info h1,.alert-message .alert-success h1{margin-top:20px;color:#b72025;font-weight:700}.alert-message .alert-danger .underline,.alert-message .alert-info .underline,.alert-message .alert-success .underline{width:60px;height:2px;margin:auto;background:#b72025;margin-bottom:20px}.alert-message .alert-danger span,.alert-message .alert-info span,.alert-message .alert-success span{font-size:16px;color:#575656}.text-content{margin-left:auto;margin-right:auto;width:70%;max-width:1000px;padding:80px 0 50px;line-height:22px}@media (max-width:600px){.text-content{padding:40px 0 50px;width:80%;min-width:280px}}.text-content span{line-height:1.1}.text-content h1,.text-content h2,.text-content h3,.text-content h4,.text-content h5,.text-content h6{font-weight:700}.text-content h6{font-weight:400}.text-content h1{margin-top:25px;margin-bottom:15px}.text-content h2{margin-top:40px;margin-bottom:20px}.text-content .paragraph,.text-content p{padding-bottom:30px}.text-content p{margin-bottom:0}.text-content .diagram{margin-top:40px;margin-left:auto;margin-right:auto;padding-bottom:70px;width:60%}@media (max-width:600px){.text-content .diagram{margin-top:20px;width:80%}}.text-content .diagram img{width:100%;height:auto}.text-content .no-padding{padding:0}.text-content ul{margin-bottom:20px}.text-content ul li.long{margin-top:10px}.form-invisible{position:absolute;left:-5000px}@media (max-width:600px){.desktop-only{display:none}}@media (min-width:600px){.mobile-only{display:none}}@media (max-width:600px){.disabled-mobile{pointer-events:none}}#header{height:70px;position:fixed;top:0;background:#fff;width:100%;z-index:1;border-bottom:1px solid #f0f0f0;transform:translateZ(0);-webkit-transform:translateZ(0)}.nav-logo{background-image:url(../images/logo@2x.png);background-position:center center;background-repeat:no-repeat;background-size:contain;display:inline-block;vertical-align:middle;margin-left:30px;height:70px;width:150px}@media (max-width:900px){.nav-logo{margin-left:30px}}.nav-buttons{float:right;list-style:none;display:table;margin:0;padding:0 10px 0 0;height:70px;-webkit-transform:translateZ(0)}@media (max-width:900px){.nav-buttons{display:none}}nav .active{color:#9a0107}nav li a{text-decoration:none!important}.nav-button{text-transform:uppercase;line-height:70px;display:table-cell;padding:4px 14px 0}.mob-nav-toggle-button{position:absolute;right:0;height:70px;width:70px;line-height:70px;cursor:pointer;padding:32.5px 10px 0}@media (min-width:901px){.mob-nav-toggle-button{display:none}}.mob-nav-toggle-button span,.mob-nav-toggle-button span:after,.mob-nav-toggle-button span:before{cursor:pointer;border-radius:1px;height:5px;width:35px;background:#b72025;position:absolute;display:block;content:'';-webkit-transition:all .5s ease;transition:all .5s ease}.mob-nav-toggle-button span:before{top:-10px}.mob-nav-toggle-button span:after{bottom:-10px}.mob-nav-toggle-button.active span{background-color:transparent}.mob-nav-toggle-button.active span:after,.mob-nav-toggle-button.active span:before{top:0}.mob-nav-toggle-button.active span:before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}.mob-nav-toggle-button.active span:after{-webkit-transform:translateY(-10px) rotate(-45deg);transform:translateY(-10px) rotate(-45deg);top:10px}.mob-nav-buttons-container{-webkit-transition:height .5s ease;transition:height .5s ease;z-index:1;position:absolute;top:70px;width:100%;background:#fff;height:0;overflow:hidden}.mob-nav-buttons{list-style:none;padding:0;margin:0;text-align:right;font-size:18px}.mob-nav-buttons a,.mob-nav-buttons li{text-decoration:none!important}.mob-nav-button{padding:10px 20px}#footer{background:#323232;padding:55px 0 60px}.footer-logo{background-image:url(../images/footer-logo.png);background-position:center center;background-repeat:no-repeat;background-size:contain;width:160px;height:80px;margin-left:auto;margin-right:auto}.footer-line-separator{height:.15px;background:#fff;opacity:.5;height:1px;width:70%;max-width:800px;margin:30px auto}.footer-content{font-size:12px;margin:0 auto;width:65%;max-width:730px;text-align:center}.footer-content .copyright{float:right;color:#fff}.footer-content .contact,.footer-content .privacy{color:#fff;margin:0 7px;float:left}.footer-content .sns{float:right;padding-top:5px}.footer-content .sns .icon{display:inline-block;width:25px;height:25px;margin:0 4px}.footer-content .sns .twitter .icon{background-image:url(../images/footer-twitter.png)}.footer-content .sns .linkedin .icon,.footer-content .sns .twitter .icon{background-position:center center;background-repeat:no-repeat;background-size:contain}.footer-content .sns .linkedin .icon{background-image:url(../images/footer-linkedin.png)}.footer-content .sns .facebook .icon{background-image:url(../images/footer-facebook.png);background-position:center center;background-repeat:no-repeat;background-size:contain}
		</style>

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" />
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />
		<![endif]-->

	</head>
	<body>
		<!-- header start !-->
		<nav id="header">
			<a href="/"><div class="nav-logo"></div></a>
			<ul class="nav-buttons">
				<li class="nav-button"><a href="/about">About</a></li>
				<li class="nav-button"><a href="/service">Service</a></li>
				<li class="nav-button"><a href="/programs">Programs</a></li>
				<li class="nav-button"><a href="/keystory">Keystory</a></li>
				<li class="nav-button"><a href="/career">Career</a></li>
				<li class="nav-button"><a href="/contact">Contact</a></li>
			</ul>


			<a class="mob-nav-toggle-button" data-controller="Nav" data-action="initMobileNav"><span></span></a>
			<div class="mob-nav-buttons-container">
				<ul class="mob-nav-buttons">
					<a href="/about"><li class="mob-nav-button">About</li></a>
					<a href="/service"><li class="mob-nav-button">Service</li></a>
					<a href="/programs"><li class="mob-nav-button">Programs</li></a>
					<a href="/keystory"><li class="mob-nav-button">Keystory</li></a>
					<a href="/career"><li class="mob-nav-button">Career</li></a>
					<a href="/contact"><li class="mob-nav-button">Contact</li></a>
				</ul>
			</div>

		</nav>
		<!-- header end !-->

		<!--
			Flash messages allow you to display once-off status messages to users, e.g. form
			validation errors, success messages, etc
		-->
		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
					{{{flashMessages messages.info}}}
			</div>
			{{/if}}
			{{#if messages.success}}
			<div class="alert alert-success">
					{{{flashMessages messages.success}}}
			</div>
			{{/if}}
			{{#if messages.warning}}
			<div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
			</div>
			{{/if}}
			{{#if messages.error}}
			<div class="alert alert-danger">
					{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}


		<div class="alert-message">
      <div class="alert alert-success" role="alert">
      	<h1>Thank You!</h1>
      	<div class="underline"></div>
        <span>Thanks for your message! We'll reply you shortly.</span>
      </div>
      <div class="alert alert-info" role="alert">
        You have already subscribed!
      </div>
      <div class="alert alert-danger" role="alert">
      	<h1>Sorry!</h1>
      	<div class="underline"></div>
        <span>
        	Oops! There seems to be an error! Please try again.
        </span>
      </div>
    </div>
		<!-- The content block should contain the body of your template's content-->
		{{{body}}}




		<div id="footer">
			<a href="/">
				<div class="footer-logo"></div>
			</a>
			<div class="footer-line-separator"></div>
			<div class="footer-content">
				<div class="sns">
<!-- 					<a href="#" class="twitter">
						<div class="icon"></div>
					</a>
					<a href="#" class="linkedin">
						<div class="icon"></div>
					</a> -->
<!-- 					<a href="#" class="facebook">
						<div class="icon"></div>
					</a>
 -->				</div>
				<span class="copyright">© 2015 Keystone<span class="desktop-only">. All Rights Reserved</span></span>
				<!-- <a href="/contact" class="contact">Contact</a> -->
				<a href="/privacy" class="privacy">Privacy</a>
			</div>
		</div>






		{{!--
			//- jQuery 1.11.1 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.1 (also bundled) for better performance.
		--}}
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.2.0.min.js
		--}}
		<link href="/styles/main.css" rel="stylesheet">
		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}
		<script src="/js/bundle.js"></script>
		{{{isAdminEditorJS user}}}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-72412077-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
