<section class="contact-main">
  <div class="contact-main-text">
    <h1 class="title">Contact Us</span>
    <h2 class="sub">Without Boundaries</span>
  </div>
</section>


<section class="contact-offices">
	<div class="container">
		<div class="office seoul">
			<div class="title">
				<div class="title-icon"></div>
				<span class="title-text">Seoul</span>
			</div>
			<div class="detail-container">
				<div class="address">
					<span class="title">Swing by</span>
					<span class="detail">
						Sujeong Building
					</span>
					<span class="detail">
						Gangnam-gu Sinsa-dong 593-3, Seoul, South Korea
					</span>
					<a href="https://www.google.com.hk/maps/place/593-3+Sinsa-dong,+Gangnam-gu,+Seoul,+South+Korea/@37.5198552,127.0260156,16z/data=!4m2!3m1!1s0x357ca39280e6ecad:0xbb4705a50676c73e" target="_blank">
						<div class="gmap">Google Map</div>
					</a>


					<div class="contact">
						<span class="title">
							Contact
						</span>

						<div class="phone">
							<!-- <span class="icon">P</span> -->
							<span class="text">+82-2-3448-0608</span>
						</div>
						<div class="email">
							<!-- <span class="icon">E</span> -->
							<span class="text">andrew.won@keystoneprep.com</span>
						</div>
					</div>

				</div>
				<div class="opening-hours">
					<span class="title">
						Opening Hours
					</span>
					<div class="weekday">
						<span class="icon">M-F</span>
						<span class="text">9:00am - 10:00pm</span>
					</div>
					<div class="weekend">
						<span class="icon">S</span>
						<span class="text">9:00am - 6:00pm</span>
					</div>
				</div>
			</div>
		</div>
		<div class="separator"></div>
		<div class="office">
			<div class="title">
				<div class="title-icon"></div>
				<span class="title-text">Hong Kong</span>
			</div>
			<div class="detail-container">
				<div class="address">
					<span class="title">Swing by</span>
					<span class="detail">
						One Island South
					</span>
					<span class="detail">
						2 Heung Yip Road, Suite 108, Wong Chuk Hang, Hong Kong
					</span>
					<a href="https://www.google.com.hk/maps/place/2+Heung+Yip+Rd/@22.2485393,114.1689428,17z/data=!4m2!3m1!1s0x34040022042e6b85:0x20627c97df7abf2e" target="_blank">

						<div class="gmap">Google Map</div>
					</a>
					<div class="contact">
						<span class="title">
							Contact
						</span>
						<div class="phone">
							<span class="text">+852-3628-2406~7</span>
						</div>
						<div class="email">
							<span class="text">michelle.yoon@keystoneprep.com</span>
						</div>

					</div>

				</div>
				<div class="opening-hours">
					<span class="title">
						Opening Hours
					</span>
					<div class="weekday">
						<span class="icon">M-F</span>
						<span class="text">9:00am - 10:00pm</span>
					</div>
					<div class="weekend">
						<span class="icon">S</span>
						<span class="text">9:00am - 6:00pm</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>


<div class="contact-form" data-controller="Contact" data-action="initForm">
	<span class="title-small">Keystone</span>
	<div class="underline"></div>
	<span class="title">Leave a Message</span>

			<!-- {{#if enquirySubmitted}}
			<h3>Thanks for getting in touch.</h3>
			{{else}}
 -->

			<form method="post" action="/contact">
				<input autocomplete="off" required type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<input autocomplete="off" required type="text" name="name.full"  class="form-control" placeholder="Your Name" value=" {{formData.[name.full]}} ">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<input autocomplete="off" required type="email" name="email" class="form-control" placeholder="Your Email" value=" {{formData.email}} ">
				</div>
				<!-- <div class="form-group">
					<label>Phone</label>
					<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
				</div> -->
				<!-- <div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>What are you contacting us about?</label>
					<select name="enquiryType" class="form-control">
						<option value="">(select one)</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div> -->
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions">
					<button type="submit" class="send">Submit</button>
				</div>
			</form>
			<!-- {{/if}} -->
</div>
